 <link rel="stylesheet" href="tops.scss" />


 <%= render 'layouts/notifications' %>


<div class = "container">
  <!--<div class="mx-auto" style="width: 720px;">-->

  <div class = "row">
     <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">


         <div class ="title">
            <div class ="title-nema">
              <h1>welcome to<i class="fas fa-book"></i> Bookers !!</h1>
            </div>
         <div class ="title-text">
           <p>In <i class="fas fa-book"></i>Bookers,<br>
              you can share and exchange your opinions , inpressions , and emotions<br>
              about various books!
           </p>
         </div>
        </div>


     </div>
  </div>

<div class="btn-wrapper col-10 mx-auto">

   <div class ="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in" class=" button1">Log in</a>
      </div>
   </div>

   <div class ="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <a class="btn btn-success btn-sm btn-block mb-3 sign_in" href="/users/sign_up" class="tag button2">Sign Up</a>
    </div>
   </div>

</div>
  </div>
</div>
    <!--<div class ="col-md-3">-->
