<%= render 'books/list', book: @book, user: @user %>


<h1>Books</h1>



<% @books.each do |book| %>
 <p>image: <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
  <span>title <%= link_to book.title, book_path(book.id) %> </span>
  <span>Opinion <%= book.body %></span>
  <!--(@book) %>-->

<% end %>
