// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
// a:visited { color:white; text-decoration:none }
.tag:visited{
  color:white; text-decoration:none
}
.title{
  margin-top : 30px;
}
.p{
  line-height : 30px;
}
.a{
    text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.button1 {
  display       : inline-block;
  background    : #17a2b8;/* 背景色     */
  font-size     : 14px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 0px 100px;   /* 余白       */
  color         : #fff;     /* 文字色     */
  width         : 450px;
  height        : 28px;
}
.btn:visited{
  color:white; text-decoration:none
}
.btn{

}
.button2 {
  display       : inline-block;
  background    : #28a745;
  font-size     : 14px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 0px 100px;   /* 余白       */
  color         : #fff;     /* 文字色     */
  width         : 450px;
  height        : 28px;
  margin-top    : 15px;
}

.about{
  font-size: 40px;
  margin-top: 20px;
}